<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EDU Student Alumni Survey Email List Generator</title>
        <style>
            
        </style>
     </head>
<body style="background-color: #2DACF0;">

<h1>EDU Student Alumni Survey Email List Generator</h1>

<form method="get">
<label for="start">Start Date (MM-DD-YYYY):</label>

<input type="date" id="start" name="date1">

<br>
<br>

<label for="end">End Date (MM-DD-YYYY):</label>

<input type="date" id="end" name="date2">

<br>
<br>

<input type="submit" value="Generate CSV">
</form>
</body>
</html>